{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="defra-hero">
    <div class="defra-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">
            {{ heading }}
          </h1>
          <p class="govuk-body-l">
            {{ description }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="defra-width-container govuk-!-margin-top-5">
    <p class="govuk-body" data-testid="app-page-body">
      Placeholder page content
    </p>
  </div>
{% endblock %}
