{% extends "govuk/template.njk" %}

{# Import GOVUK components globally #}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{# Import custom components globally #}
{% from "heading/macro.njk" import appHeading %}

{% set mainClasses = "app-main-wrapper" %}

{% block bodyStart %}
  {% include "partials/cookie-banner.njk" %}
  {% if gtmContainerId and hasAnalyticsConsent %}
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ gtmContainerId }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  {% endif %}
{% endblock %}

{% block head %}
  <link href="{{ getAssetPath('stylesheets/application.scss') }}" rel="stylesheet">
{% endblock %}

{% block header %}
<header class="defra-header">
  <div class="defra-header__inner">
    <div class="defra-header__brand-group">
      <img
        src="{{ getAssetPath('images/defra-logo.svg') }}"
        alt="Department for Environment, Food &amp; Rural Affairs"
        class="defra-header__logo"
      />
      <a href="{{ serviceUrl | default('/') }}" class="defra-header__service-name">{{ serviceName }}</a>
    </div>
  </div>
</header>
{% include "partials/navigation.njk" %}
{% endblock %}

{% block pageTitle %}
  {{ pageTitle }} | {{ serviceName }}
{% endblock %}

{% block containerStart %}
  {% if breadcrumbs and breadcrumbs.length > 1 %}
    {{ govukBreadcrumbs({
      items: breadcrumbs
    }) }}
  {% endif %}
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
  {% include "partials/footer.njk" %}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ getAssetPath('application.js') }}"></script>
{% endblock %}
