{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ heading }}</h1>

      {# TODO: Add accessibility statement content. See GDS guidance:
         https://www.gov.uk/guidance/model-accessibility-statement #}
      <p class="govuk-body">
        This page is under development.
      </p>
    </div>
  </div>
{% endblock %}
