@use "govuk-frontend" as *;

.app-link-button,
.app-link-button:link,
.app-link-button:visited {
  @include govuk-font($size: 19);
  background: none;
  border: 0;
  color: govuk-functional-colour("link");
  cursor: pointer;
  padding: 0;
  text-decoration: underline;
  text-decoration-thickness: max(1px, .0625rem);
}

.app-link-button:hover {
  color: govuk-functional-colour("link-hover");
  text-decoration-thickness: max(3px, .1875rem, .12em);
}

.app-link-button:focus,
.app-link-button:active {
  background-color: govuk-functional-colour("focus");
  box-shadow: 0 -2px govuk-functional-colour("focus"), 0 4px govuk-functional-colour("focus-text");
  color: govuk-functional-colour("focus-text");
  outline: 3px solid transparent;
  text-decoration: none;
}

.app-link-button:focus:not(:focus-visible):not(:active) {
  background: none;
  box-shadow: none;
  color: govuk-functional-colour("link");
  outline: none;
  text-decoration: underline;
  text-decoration-thickness: max(1px, .0625rem);
}
